<div class="fields-group">
  <label>
    <div>
      Title
    </div>
    <input 
      type="text"
      name="title"
      value="<%= book.title %>"
      placeholder="Book title..."
      class="input"
    >
  </label>
  <label>
    <div>
      Author
    </div>
    <select name="author" class="input">
      <% authors.forEach(author => { %>
        <% if (book.author && author.id === book.author.id) { %>
          <option selected label="<%= author.name %>" value="<%= author.id %>">
      <% } else { %>
          <option label="<%= author.name %>" value="<%= author.id %>">
      <% } %>
    <% }) %>
    </select>
  </label>
  <label>
    <div>
      Publish Date
    </div>
    <input 
      type="date"
      name="publishDate"
      value=<%= book.publishDate ? book.publishDateToShow : 0 %>
      class="input"
    >
  </label>
</div>
<div class="fields-group fields-group--cover">
  <label>
    <div>
      Cover image
    </div>
    <input type="file" name="cover" class="filepond cover">
  </label>
  <div class="flex-column-20">
    <label>
      <div>
        Pages
      </div>
      <input 
        type="number" 
        name="pageCount"
        min="1"
        value="<%= book.pageCount %>"
        placeholder="Page count..."
        class="input"
      >
    </label>
    <label>
      <div>
        Description
      </div>
      <textarea 
        type="text"
        name="description"
        class="input input--textarea"
      >
        <%= book.description %>
      </textarea>
    </label>
  </div>
</div>
