<%- include('../partials/pageTitle', { pageTitle: 'Search Books' }) %>
<form action="/books", method="GET" class="form form__indent">
  <div class="fields-group">
    <div class="fields-group__column">
      <label for="search-book-title">Title</label>
      <input id="search-book-title" type="text" name="title" value="<%= searchOptions.title %>" class="input form-grid__title" placeholder="Book title...">
    </div>
    <div class="fields-group__column">
      <label for="publishedAfter">Published After</label>
      <input id="publishedAfter" type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>" class="input">
    </div>
    <div class="fields-group__column">
      <label for="publishedBefore">Published Before</label>
      <input id="publishedBefore" type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>" class="input">
    </div>
  </div>
  <button type="submit" class="button">Search</button>
</form>
<%- include('../partials/errorMessage') %>
<%- include('../partials/booksCards') %>
