<form action="/books", method="GET">
  <%- include('../partials/pageTitle', { pageTitle: 'Search Books' }) %>
  <div>
    <label>
      Title
      <input type="text" name="title" value="<%= searchOptions.title %>">
    </label>
  </div>
  <div>
    <label>
      Published After
      <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
    </label>
  </div>
  <div>
    <label>
      Published Before
      <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
    </label>
  </div>
  <button type="submit">Search</button>
</form>
<%- include('../partials/errorMessage') %>
<% books.forEach(book => { %>
  <div>
    <h3><%= book.title %></h3>
    <img src="<%= book.coverImagePath %>" alt="Alt" height="150" width="100">
    <div>Author: <%= book.author.name %></div>
    <div>Publish date: <%= book.publishDateToShow %></div>
    <div>Page count: <%= book.pageCount %></div>
    <div>Description: <%= book.description %></div>
    <a href="/books/<%= book.id %>">View</a>
    <a href="/books/<%= book.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/books/${book.id}` }) %>
  </div>
<% }) %>
