<form action="/books", method="GET">
  <h2>Search Books</h2>
  <div>
    <label>
      Title
      <input type="text" name="title" value="<%= searchOptions.title %>">
    </label>
  </div>
  <div>
    <label>
      Published After
      <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
    </label>
  </div>
  <div>
    <label>
      Published Before
      <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
    </label>
  </div>
  <button type="submit">Search</button>

  <% books.forEach(book => { %>
    <div>
      <h3><%= book.title %></h3>
      <img src="<%= book.coverImagePath %>" alt="Alt" height="250px" weight="100px">
      <div>Author: <%= book.author %></div>
      <div>Publish date: <%= book.publishDate %></div>
      <div>Page count: <%= book.pageCount %></div>
      <div>Description: <%= book.description %></div>
    </div>
  <% }) %>
</form>