<h2>Recently Added</h2>
<% books.forEach(book => { %>
  <div>
    <h3><%= book.title %></h3>
    <img src="<%= book.coverImagePath %>" alt="Alt" height="150" weight="100px">
    <div>Author: <%= book.author ? book.author.name : 'Author not found' %></div>
    <div>Publish date: <%= book.publishDateToShow %></div>
    <div>Page count: <%= book.pageCount %></div>
    <div>Description: <%= book.description %></div>
  </div>
<% }) %>