<%- include('../partials/pageTitle', { pageTitle: 'Search Authors' }) %>
<form action="/authors" method="GET" class="form">
  <%- include('./_form_fields', { value: searchOptions.name, title: "Author" }) %>
  <button type="submit" class="button">
    Search
  </button>
</form>
<br>
<div class="cards-container">
  <% authors.forEach(author => { %>
    <div class="card card--authors">
      <h3 class="card__title card__title--authors"><%= author.name %></h3>
      <div class="buttons-wrapper">
        <a href="/authors/<%= author.id %>" class="button">View</a>
        <a href="/authors/<%= author.id %>/edit" class="button">Edit</a>
      </div>
      <%- include('../partials/deleteForm', { url: `/authors/${author.id}` }) %>
    </div>
  <% }) %>
</div>
